
* {
  /* font-family: 'DM Mono', monospace; */
  /* font-family: 'Balsamiq Sans', cursive; */
  /* font-family: 'Muli', sans-serif; */font-family: 'Gamja Flower', cursive;
  font-family: 'Nanum Gothic', sans-serif;
}
html{
  overflow-y: auto !important;
  overflow-x: hidden !important;
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  


.inputBox{
  margin: 5px 0px;
}


.text-left{
  text-align: center !important;
}
.text-left{
  text-align: left !important;
}

#app{
  height: 100%;
}

.full-height{
  height:100%
}


#nav a.router-link-exact-active{
  color: #ABFF6E !important;
}

#nav a{
  color: aliceblue !important;
}
#nav{
  text-align: end;
}
#nav .el-dialog__header{
  text-align: center;
}

.box-left{
  float: left;
}
.box-right{
  float: right;
}

.cursor-pointer{
  cursor: pointer;
}


.kakao-login-icon {  
  background-image:url(../kakaolink_btn_small.png);
  background-size: cover;
}
.naver-login-icon {  
    background-image:url(../naver_login_button_green.png);
    background-size: cover;
}
.google-login-icon {  
    background-image:url(../google_login_button.jpg);
    background-size: cover;
}
